<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcby.dao.ChargeRecordMapper">
  <resultMap id="BaseResultMap" type="com.qcby.entity.ChargeRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="amount_time" jdbcType="TIMESTAMP" property="amount_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userName, amount, amount_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from "t_chargerecord"
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from "t_chargerecord"
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qcby.entity.ChargeRecord">
    insert into "t_chargerecord" (id, userName, amount, 
      amount_time)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, 
      #{amount_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qcby.entity.ChargeRecord">
    insert into "t_chargerecord"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        userName,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="amount_time != null">
        amount_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="amount_time != null">
        #{amount_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qcby.entity.ChargeRecord">
    update "t_chargerecord"
    <set>
      <if test="userName != null">
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="amount_time != null">
        amount_time = #{amount_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qcby.entity.ChargeRecord">
    update "t_chargerecord"
    set userName = #{userName,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      amount_time = #{amount_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findUserRecord" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_chargerecord
    where 1 = 1
    <if test="chargeRecord.userName != null and chargeRecord.userName !=''">
      and userName like concat( '%', #{chargeRecord.userName}, '%')
    </if>
    order by amount_time desc
    limit #{pageIndex},#{pageSize};
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
   SELECT count(*) FROM t_chargerecord;
  </select>
</mapper>